* {
    margin: auto;
    padding: auto;
    box-sizing: border-box;
}
body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 15px;
    background-color : yellow;
}
body p{
    
}
header{
    text-align: center;
    position: fixed;
    width: 100%;
    background-color: #00A2FF;
    padding: 5px 0;
    overflow: hidden;
}
header p{
    /* float: left; */
    /* padding: 14px 16px; */
    /* text-align: center; */
}
header .image{
    /* width: 25px; */
    float: right;
}
.sidenav {
    /* height: 80%; */
    width: 130px;
    position: fixed;
    z-index: 1;
    margin-top: 20px;
    left: 10px;
    background: rgb(238, 238, 238);
    overflow-x: hidden;
    /* padding-top: 20px; */
}
.sidenav a{
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    color: #2196F3;
    display: block;
}
.sidenav a:hover {
    color: #064579;
}
section{
    margin-top: 10px;
    margin-left: 140px;
    padding: 0 10px;
}
footer{
    width: 100%;
    position: fixed;
    bottom: 0;
    /* display: flex; */
    background-color: #00A2FF;
    color: black;
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
}
footer p{
    text-align: center;
    background-color: #00A2FF;
}